<!DOCTYPE html>
<html lang="en">

<head>
  <title>OEvent Helper</title>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/assets/styles.css">
  <script src="https://cdn.jsdelivr.net/npm/htmx.org@2.0.8/dist/htmx.min.js"
    integrity="sha384-/TgkGk7p307TH7EXJDuUlgG3Ce1UVolAOFopFekQkkXihi5u/6OCvVKyz1W+idaz"
    crossorigin="anonymous"></script>
</head>

<body>
  <header>
    <a href="/" class="logo" hx-get="/" hx-target="#workspace" hx-push-url="true">
      <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 100 100" width="2em" height="2em" aria-hidden="true">
        <clipPath id="flag-clip">
            <rect x="0" y="0" width="100" height="100" />
        </clipPath>
        <g clip-path="url(#flag-clip)">
            <rect x="0" y="0" width="100" height="100" fill="#ffffff" />
            <polygon points="0,100 100,100 100,0" fill="#ff5722" />
        </g>
      </svg>
      <h1>OEvent Helper</h1>
    </a>
  </header>

  <nav>
    <a href="/course-prioritizer/" class="nav" hx-get="/course-prioritizer/" hx-target="#workspace"
      hx-push-url="true">Course Prioritizer</a>
  </nav>

  <main id="workspace">
    {{.}}
  </main>
</body>

</html>